body{background-color: rgb(10, 80, 230);
    color: rgb(17, 17, 17);
    font-size: 40px;
    font-family: cursive;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-align: center;text-align: center;
}

.imagem-cabecalho{
width: 200px;
}
.cabecalho{
    background-color: rgb(38, 30, 153);
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;}

.cabecalho-item
{display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;}

.escola-imagem{
    width: 25%;
}

    
.escola{
    background-image: linear-gradient(rgb(67, 142, 241), rgb(250, 250, 252));
    color: rgb(12, 12, 12);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-conteudo
{width: 50%;}

.escola-titulo
{padding: 50px 30px;
width: 25%;
font-family: cursive; }  









.aluno-um{

    width: 40%;
    height:220px;}

    .estudante-titulo
    {
        text-align: canter;
        padding: 50px 0;
    font-size: 30px;
}

.estudante-div {
    text-align: center;
}
.estudante-todos {
    display: grid;
     grid-template-columns: 25% 25% 25% 25%;
}